h1{
    font-family: fantasy;
    font-size: 100px;
    font-weight: normal;
    font-style: italic;
    color: rgb(3, 202, 252);
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
}
p{
    ;
    line-height: 50px;
    text-align: justify;
    text-transform: capitalize;
    text-indent: 100px;
}
a{
    text-decoration:none;   
}
body{
    background-color: white;
    background-image: url(); 
    background-repeat: no-repeat;
}
