body {
  background-color: black;
  color: red;
}
.header {
  text-align: center;
}
.navigasi {
  text-align: center;
}
.main {
  text-align: center;
}
.main p {
  color: red;
  font-size: 16px;
}
div {
  display: block;
}
span {
  display: inline;
  color: brown;
}
.copyright {
  text-align: right;
}
